################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/KinoVerwaltungAPI/.vs/KinoVerwaltungAPI
/KinoVerwaltungAPI/KinoVerwaltungAPI/obj/Debug/net8.0
/KinoVerwaltungAPI/KinoVerwaltungAPI/obj
/KinoVerwaltungAPI/KinoVerwaltungAPI/bin/Debug/net8.0
/KinoVerwaltungAPI/.vs/ProjectEvaluation
/KinoVerwaltungAPI/KinoVerwaltungAPI/Migrations/ApplicationDbContextModelSnapshot.cs
